.Synonyms {
  margin: 2rem 0 2rem;
  padding: 0;
}

.Synonyms li {
  display: inline-block;
  padding: 0.7rem;
  border: 1px solid #2a52be;
  border-radius: 20px;
  margin-right: 1.2rem;
  margin-top: 1rem;
}

@media (max-width: 768px) and (min-width: 480px) {
  .Synonyms {
    margin: 1rem;
  }
  .Synonyms li {
    display: block;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
